In [6]:
import pandas as pd
import numpy as np

ctpp = pd.read_csv('../Calibration Targets/CTPP Workers CC Flow.csv')
bcm_sedata=pd.read_csv('../landuse/tazData.csv')
geo_crosswalk=pd.read_csv('../main/geo_crosswalk.csv')
county_dict=dict(zip(geo_crosswalk['TAZ'],geo_crosswalk['COUNTYNAME']))

bcm_sedata['WORKPLACE']=bcm_sedata['ZONE'].map(county_dict)
pd.options.display.max_columns=100
bcm_sedata.head()

,ZONE,DISTRICT,SD,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFDU,MFDU,HHINCQ1,HHINCQ2,HHINCQ3,HHINCQ4,TOTACRE,RESACRE,CIACRE,SHPOP62P,TOTEMP,AGE0004,AGE0519,AGE2044,AGE4564,AGE65P,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,PRKCST,OPRKCST,AREATYPE,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,ZERO,WORKPLACE
0,1,2,2,1,555,1133,1234,737,25,569,276,124,84,71,20,5.95,6.59,0.140,303,44,109,644,293,145,42,68,133,52,0,8,48.0,68.0,1.0,0,0,0,1.0,3.4600,0,San Francisco
1,2,3,3,1,1214,2660,2690,1247,56,1288,610,285,168,151,21,8.22,6.74,0.145,895,161,378,1203,649,298,110,89,180,494,1,21,48.0,68.0,1.0,0,0,0,2.0,4.1568,0,San Francisco
2,3,3,3,1,1289,2633,2652,1613,58,1321,618,306,182,183,29,13.83,5.20,0.152,239,94,234,1384,629,311,22,48,121,40,0,8,48.0,68.0,1.0,0,0,0,1.0,3.4600,0,San Francisco
3,4,1,1,1,1223,4276,4283,1341,125,1143,160,242,241,580,429,96.97,408.22,0.023,1045,148,575,3078,451,30,7,99,175,730,1,33,0.0,0.0,4.0,0,0,0,2.0,1.1291,0,San Francisco
4,5,2,2,1,834,1530,1575,1081,28,888,257,211,147,219,22,11.60,3.27,0.118,224,26,61,929,432,127,24,31,123,39,1,6,0.0,61.0,1.0,0,0,0,1.0,3.5242,0,San Francisco

In [9]:
ctpp_total = ctpp.groupby('WORKPLACE').agg(Total_Workers_CTPP=('Workers','sum')).reset_index()
bcm_sedata_total = bcm_sedata.groupby('WORKPLACE').agg(Total_Workers_BCM=('TOTEMP','sum')).reset_index()

comparison=pd.merge(bcm_sedata_total, ctpp_total, on='WORKPLACE')

county_dict=['San Francisco',
             'San Mateo',
             'Santa Clara',
             'Alameda',
             'Contra Costa',
             'Solano',
             'Napa',
             'Sonoma',
             'Marin','San Joaquin']

county_sorter_index = dict(zip(county_dict, range(len(county_dict))))

comparison.sort_values(by='WORKPLACE',key=lambda x: x.map(county_sorter_index)).to_csv('../calibration_output/CTPP_SE_Comparison.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

tm15_landuse_data = pd.read_csv('../../travel-model-1.5/INPUT/landuse/tazData.csv')
bcm_landuse_data = pd.read_csv('../landuse/tazData.csv')

tm15_landuse_sf = tm15_landuse_data[tm15_landuse_data['COUNTY']==1]
bcm_landuse_sf = bcm_landuse_data[bcm_landuse_data['COUNTY']==1]

In [2]:
pd.options.display.max_columns=100

In [3]:
tm15_sf_total = tm15_landuse_sf.groupby('COUNTY').sum().reset_index()
tm15_sf_total['SOURCE']='Travel Model 1.5'
bcm_sf_total = bcm_landuse_sf.groupby('COUNTY').sum().reset_index()
bcm_sf_total['SOURCE']='Bicounty Model'
# comparison = pd.merge(tm15_sf_total, bcm_sf_total, on='COUNTY', suffixes=('_TM15','_BCM'))

comparison = pd.concat([tm15_sf_total, bcm_sf_total], ignore_index=True)[['SOURCE','COUNTY', 'TOTHH', 'HHPOP', 'TOTPOP',
       'EMPRES', 'SFDU', 'MFDU', 'HHINCQ1', 'HHINCQ2', 'HHINCQ3', 'HHINCQ4',
       'TOTACRE', 'RESACRE', 'CIACRE', 'SHPOP62P', 'TOTEMP', 'AGE0004',
       'AGE0519', 'AGE2044', 'AGE4564', 'AGE65P', 'RETEMPN', 'FPSEMPN',
       'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST',
       'AREATYPE', 'HSENROLL', 'COLLFTE', 'COLLPTE', 'TOPOLOGY', 'TERMINAL',
       'ZERO']]

comparison

,SOURCE,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFDU,MFDU,HHINCQ1,HHINCQ2,HHINCQ3,HHINCQ4,TOTACRE,RESACRE,CIACRE,SHPOP62P,TOTEMP,AGE0004,AGE0519,AGE2044,AGE4564,AGE65P,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,PRKCST,OPRKCST,AREATYPE,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,ZERO
0,Travel Model 1.5,1,358774,843956,860066,505328,124867,265508,101016,72030,70736,114992,30079.99999,9670.18627,5878.65212,36.81443,637283,39063,89459,385511,218071,127962,77480,186778,232774,89430,276,50545,8027.28885,22200.15114,378.0,26744.0,51303.0,33950.0,261.0,660.49675,0
1,Bicounty Model,1,365823,883650,905325,538015,114644,275299,123661,89637,63940,88585,30073.00000,9755.40000,6850.81000,118.13300,682001,40127,99742,383097,241691,140658,46329,227576,228480,143102,630,35884,16762.86000,43744.71000,1306.0,25897.0,57841.0,32022.0,846.0,2011.59460,0

In [17]:
tm15_sf_total = tm15_landuse_sf.groupby('COUNTY').sum().reset_index()
tm15_sf_total['SOURCE']='Travel Model 1.5'
bcm_sf_total = bcm_landuse_sf.groupby('COUNTY').sum().reset_index()
bcm_sf_total['SOURCE']='Bicounty Model'
# comparison = pd.merge(tm15_sf_total, bcm_sf_total, on='COUNTY', suffixes=('_TM15','_BCM'))

comparison = pd.concat([tm15_sf_total, bcm_sf_total], ignore_index=True)[['SOURCE','COUNTY', 'TOTHH', 'HHPOP', 'TOTPOP',
       'EMPRES', 'SFDU', 'MFDU', 'HHINCQ1', 'HHINCQ2', 'HHINCQ3', 'HHINCQ4',
       'TOTACRE', 'RESACRE', 'CIACRE', 'SHPOP62P', 'TOTEMP', 'AGE0004',
       'AGE0519', 'AGE2044', 'AGE4564', 'AGE65P', 'RETEMPN', 'FPSEMPN',
       'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST',
       'AREATYPE', 'HSENROLL', 'COLLFTE', 'COLLPTE', 'TOPOLOGY', 'TERMINAL',
       'ZERO']]

comparison

,SOURCE,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFDU,MFDU,HHINCQ1,HHINCQ2,HHINCQ3,HHINCQ4,TOTACRE,RESACRE,CIACRE,SHPOP62P,TOTEMP,AGE0004,AGE0519,AGE2044,AGE4564,AGE65P,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,PRKCST,OPRKCST,AREATYPE,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,ZERO
0,Travel Model 1.5,1,358774,843956,860066,505328,124867,265508,101016,72030,70736,114992,30079.99999,9670.18627,5878.65212,36.81443,637283,39063,89459,385511,218071,127962,77480,186778,232774,89430,276,50545,8027.28885,22200.15114,378,26744.0,51303.0,33950.0,261,660.49675,0
1,Bicounty Model,1,365823,883650,905325,538015,114644,275299,123661,89637,63940,88585,30073.00000,9755.40000,6850.81000,118.13300,682001,40127,99742,383097,241691,140658,46329,227576,228480,143102,630,35884,16762.86000,43744.71000,1306,25897.0,57841.0,32022.0,846,2011.59460,0

In [26]:
zonal_equivalence = pd.read_excel('../landuse/MTC to BCM_ZONE Equvalence File.xlsx')
zonal_equivalence_sf=zonal_equivalence[zonal_equivalence['TAZ1454']<191]
zonal_equivalence_sf_dict = dict(zip(zonal_equivalence_sf['BCMTAZID'],zonal_equivalence_sf['TAZ1454']))

In [17]:
geo_crosswalk = pd.read_csv('../main/geo_crosswalk.csv')
da_am_skims = pd.read_csv('../main/da_am_skims.csv')

In [20]:
county_dict = dict(zip(geo_crosswalk['TAZ'], geo_crosswalk['COUNTYNAME']))
da_am_skims['origin_county'] = da_am_skims['origin'].map(county_dict)
da_am_skims['destination_county'] = da_am_skims['destination'].map(county_dict)
da_am_skims['linked'] = np.where(da_am_skims['dist']>=500000,
                                 'unconnected zones','connected')

In [23]:
disconnected_destinations = da_am_skims[(da_am_skims['origin']==1)&(da_am_skims['dist']>1000)].destination.unique()

disconnected_destinations = da_am_skims[da_am_skims['dist']>1000].destination.unique()

disconnected_zone = []

for i in disconnected_destinations:
    if i not in disconnected_origins:
        disconnected_zone.append(i)

In [25]:
disconnected_origins

array([   1,    2,    3, ..., 6591, 6592, 6593], dtype=int64)

In [21]:
orig_dest_grouped = da_am_skims.groupby(['origin_county','destination_county']).agg(unlinked_zones=('linked','count'))
orig_dest_grouped

                                  unlinked_zones
origin_county destination_county
Alameda       Alameda                    3045025
              Contra Costa               2654145
              Marin                       350745
              Napa                        174500
              San Francisco              1109820
...                                          ...
Sonoma        San Joaquin                 114954
              San Mateo                   150297
              Santa Clara                 364497
              Solano                       96033
              Sonoma                      127449

[100 rows x 1 columns]

In [16]:
da_am_skims=da_am_skims[da_am_skims['dist']<1000]
orig_dest_grouped = da_am_skims.groupby(['origin_county','destination_county']).agg(mean_dist=('dist','mean'))

orig_dest_grouped.to_csv('temp.csv')

In [13]:
da_am_skims[(da_am_skims['origin_county']=='Santa Clara')&(da_am_skims['destination_county']=='Alameda')].dist.value_counts()

1000000.00    18378
37.04           710
37.34           700
38.40           699
38.36           697
              ...
86.80             1
86.33             1
87.72             1
4.06              1
3.50              1
Name: dist, Length: 8530, dtype: int64

In [10]:
da_am_skims[da_am_skims['origin_county']=='Santa Clara'].groupby(['destination_county'])['dist'].mean()

destination_county
Alameda          10354.136795
Contra Costa     19126.516633
Marin               72.477521
Napa                96.617326
San Francisco       52.567859
San Joaquin         79.345300
San Mateo           35.363637
Santa Clara         13.667765
Solano              86.146432
Sonoma             107.923107
Name: dist, dtype: float64

In [43]:
zonal_equivalence[zonal_equivalence['TAZ1454']==14]

Empty DataFrame
Columns: [TAZ1454, BCMTAZID]
Index: []

In [42]:
bcm_landuse_sf[bcm_landuse_sf['ZONE']==14]

,ZONE,DISTRICT,SD,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFDU,MFDU,HHINCQ1,HHINCQ2,HHINCQ3,HHINCQ4,TOTACRE,RESACRE,CIACRE,SHPOP62P,TOTEMP,AGE0004,AGE0519,AGE2044,AGE4564,AGE65P,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,PRKCST,OPRKCST,AREATYPE,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,ZERO,TAZ1454
13,14,2,2,1,818,1562,1562,1017,167,660,195,211,169,243,34,20.46,4.3,0.143,361,38,49,868,451,156,52,75,185,40,0,9,0.0,61.0,3,0,0,0,1,2.5193,0,103

In [35]:
bcm_landuse_sf['TAZ1454'] = bcm_landuse_sf['ZONE'].map(zonal_equivalence_sf_dict)
bcm_landuse_sf_1454_zone = bcm_landuse_sf.groupby(['TAZ1454']).sum().reset_index()
bcm_landuse_sf_1454_zone.head(15)

C:\Users\USJH706661\AppData\Local\Temp\ipykernel_757380\1914157059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bcm_landuse_sf['TAZ1454'] = bcm_landuse_sf['ZONE'].map(zonal_equivalence_sf_dict)

,TAZ1454,ZONE,DISTRICT,SD,COUNTY,TOTHH,HHPOP,TOTPOP,EMPRES,SFDU,MFDU,HHINCQ1,HHINCQ2,HHINCQ3,HHINCQ4,TOTACRE,RESACRE,CIACRE,SHPOP62P,TOTEMP,AGE0004,AGE0519,AGE2044,AGE4564,AGE65P,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,PRKCST,OPRKCST,AREATYPE,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,ZERO
0,1,576,1,1,1,56,102,106,26,1,60,23,10,13,10,28,1.00,24.22,0.235,27105,4,8,38,34,21,387,21395,1833,2512,20,958,218.00,716.00,0,0,0,0,3,5.5716,0
1,2,398,1,1,1,146,269,314,146,5,147,86,32,15,13,23,1.00,19.99,0.217,20825,9,23,116,102,64,361,16396,1872,1622,30,544,218.00,716.00,0,0,0,0,1,5.5241,0
2,3,580,1,1,1,272,502,512,293,9,286,153,71,23,25,15,1.00,3.09,0.247,3321,15,38,188,167,104,145,1348,1503,283,1,41,218.08,716.27,0,0,368,0,1,5.5446,0
3,4,399,1,1,1,188,324,446,79,6,210,93,52,20,23,20,1.00,20.92,0.184,20294,12,33,164,146,91,507,12242,3995,1969,87,1494,191.00,314.00,0,0,0,0,2,5.4766,0
4,5,581,1,1,1,614,1115,1120,510,22,671,354,147,56,57,52,1.00,25.09,0.252,16574,34,83,408,367,228,2781,5129,6618,1598,6,442,191.01,314.01,0,0,215,49,1,5.2213,0
5,6,816,2,2,2,2260,4136,4242,2469,0,2406,1278,613,199,170,30,7.00,15.21,0.297,4241,74,224,2455,991,496,268,767,2389,776,1,40,300.00,1092.00,0,0,0,0,2,9.2964,0
6,7,130,4,4,4,3908,6496,6514,2712,0,4175,2492,913,284,219,46,12.99,25.19,0.817,11841,170,427,2871,2016,1031,416,5555,5093,671,1,105,820.00,2400.00,0,0,0,0,4,19.9800,0
7,8,786,4,4,4,4726,10479,10519,2819,20,4898,3805,602,184,135,49,8.33,24.48,1.065,4885,372,860,3300,3740,2245,468,1500,2048,786,5,78,464.00,1772.00,0,0,0,0,8,17.7060,0
8,9,1719,5,5,5,5721,10891,11556,4342,35,6084,3795,1250,387,289,110,9.80,60.87,0.825,21905,431,1098,5479,2972,1578,154,3333,8021,10210,1,186,490.00,809.80,0,0,971,31,10,24.0880,0
9,10,1111,2,2,2,3310,6048,6090,1831,5,3757,2211,667,225,207,75,10.29,41.13,0.324,12308,159,503,2636,2115,677,281,2841,4028,4788,7,363,178.00,546.00,0,0,1128,324,6,9.3906,0
10,11,1153,3,3,3,2798,5189,5229,2406,10,2932,2088,431,173,106,81,12.64,47.57,0.475,13458,136,433,2265,1816,582,3110,2793,4068,3151,8,328,348.00,777.00,0,13,41,4,9,13.9743,0
11,12,577,1,1,1,796,1263,1267,654,0,984,387,209,99,101,54,1.00,22.53,0.104,14982,9,14,747,428,68,768,4699,5660,3521,14,320,177.00,778.00,0,0,6175,4441,3,5.2254,0
12,13,582,1,1,1,389,631,634,169,0,430,117,101,60,111,59,55.57,48.89,0.102,42832,6,6,375,214,33,1203,27738,6273,4675,27,2916,177.00,778.00,0,0,1080,1435,3,5.4089,0
13,15,570,1,1,1,300,521,531,322,0,319,80,87,50,83,26,3.00,18.91,0.102,12377,4,6,313,179,29,174,7464,2114,2069,8,548,198.00,819.00,0,0,0,0,3,5.2151,0
14,16,107,2,2,2,2692,4748,4880,2431,15,2967,820,598,448,826,120,9.20,91.47,0.167,21713,95,125,3164,1267,231,3263,8289,6056,3562,58,485,328.02,1064.04,0,0,0,0,4,9.0832,0

In [53]:
column_names=['TOTHH', 'HHPOP', 'TOTPOP',
       'EMPRES', 'SFDU', 'MFDU', 'HHINCQ1', 'HHINCQ2', 'HHINCQ3', 'HHINCQ4',
       'TOTACRE', 'RESACRE', 'CIACRE', 'SHPOP62P', 'TOTEMP', 'AGE0004',
       'AGE0519', 'AGE2044', 'AGE4564', 'AGE65P', 'RETEMPN', 'FPSEMPN',
       'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST',
       'AREATYPE', 'HSENROLL', 'COLLFTE', 'COLLPTE', 'TOPOLOGY', 'TERMINAL',
       'ZERO']
column_list=['TAZ1454']

for col in column_names:
    bcm_col = col+'_BCM'
    tm15_col= col+'_TM15'
    column_list.append(bcm_col)
    column_list.append(tm15_col)

comparison_zone = pd.merge(bcm_landuse_sf_1454_zone,
                           tm15_landuse_sf,
                           left_on=['TAZ1454'],
                           right_on=['ZONE'],
                           suffixes=('_BCM','_TM15'))[column_list]

comparison_zone.to_csv('temp.csv', index=False)

In [51]:


column_list

['TAZ1454',
 'TOTHH_BCM',
 'TOTHH_TM15',
 'HHPOP_BCM',
 'HHPOP_TM15',
 'TOTPOP_BCM',
 'TOTPOP_TM15',
 'EMPRES_BCM',
 'EMPRES_TM15',
 'SFDU_BCM',
 'SFDU_TM15',
 'MFDU_BCM',
 'MFDU_TM15',
 'HHINCQ1_BCM',
 'HHINCQ1_TM15',
 'HHINCQ2_BCM',
 'HHINCQ2_TM15',
 'HHINCQ3_BCM',
 'HHINCQ3_TM15',
 'HHINCQ4_BCM',
 'HHINCQ4_TM15',
 'TOTACRE_BCM',
 'TOTACRE_TM15',
 'RESACRE_BCM',
 'RESACRE_TM15',
 'CIACRE_BCM',
 'CIACRE_TM15',
 'SHPOP62P_BCM',
 'SHPOP62P_TM15',
 'TOTEMP_BCM',
 'TOTEMP_TM15',
 'AGE0004_BCM',
 'AGE0004_TM15',
 'AGE0519_BCM',
 'AGE0519_TM15',
 'AGE2044_BCM',
 'AGE2044_TM15',
 'AGE4564_BCM',
 'AGE4564_TM15',
 'AGE65P_BCM',
 'AGE65P_TM15',
 'RETEMPN_BCM',
 'RETEMPN_TM15',
 'FPSEMPN_BCM',
 'FPSEMPN_TM15',
 'HEREMPN_BCM',
 'HEREMPN_TM15',
 'OTHEMPN_BCM',
 'OTHEMPN_TM15',
 'AGREMPN_BCM',
 'AGREMPN_TM15',
 'MWTEMPN_BCM',
 'MWTEMPN_TM15',
 'PRKCST_BCM',
 'PRKCST_TM15',
 'OPRKCST_BCM',
 'OPRKCST_TM15',
 'AREATYPE_BCM',
 'AREATYPE_TM15',
 'HSENROLL_BCM',
 'HSENROLL_TM15',
 'COLLFTE_BCM',
 'COLLFTE_TM15',
 'COLLPTE_BCM',
 'COLLPTE_TM15',
 'TOPOLOGY_BCM',
 'TOPOLOGY_TM15',
 'TERMINAL_BCM',
 'TERMINAL_TM15',
 'ZERO_BCM',
 'ZERO_TM15']